{% extends 'main/base.html' %}
{% load static %}
{% block title %}Мои работы{% endblock %}

{% block content %}
    <h1 class="page_title">Мои работы</h1>


    <article class="work">
        <div class="work_preivew"><img class="work_img" src="{% static 'images/work_1.jpg' %}" alt=""></div>

        <div class="work_content">
            <a href="#" class="work_title">altermono.com</a>
            <div class="work_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.</div>

            <div class="tags">
                <a href="#" class="tags_item">дизайн</a>
                <a href="#" class="tags_item">создание сайта</a>
                <a href="#" class="tags_item">SMM</a>
            </div>
            <div class="work_footer"><a href="#" class="btn btn--visit_site">Перейти на сайт</a></div>

        </div>
    </article><!-- /.work -->
    <article class="work">
        <div class="work_preivew"><img class="work_img" src="{% static 'images/work_2.jpg' %}" alt=""></div>

        <div class="work_content">
            <a href="#" class="work_title">codedoco.com</a>
            <div class="work_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.</div>

            <div class="tags">
                <a href="#" class="tags_item">дизайн</a>
                <a href="#" class="tags_item">создание сайта</a>
                <a href="#" class="tags_item">SMM</a>
            </div>
            <div class="work_footer"><a href="#" class="btn btn--visit_site">Перейти на сайт</a></div>

        </div>
    </article><!-- /.work -->
    <article class="work">
        <div class="work_preivew"><img class="work_img" src="{% static 'images/work_1.jpg' %}" alt=""></div>

        <div class="work_content">
            <a href="#" class="work_title">codedoco.com</a>
            <div class="work_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.</div>

            <div class="tags">
                <a href="#" class="tags_item">дизайн</a>
                <a href="#" class="tags_item">создание сайта</a>
                <a href="#" class="tags_item">SMM</a>
            </div>
            <div class="work_footer"><a href="#" class="btn btn--visit_site">Перейти на сайт</a></div>

        </div>
    </article><!-- /.work -->
{% endblock %}